.flickr_item {
	padding: 3px;
}
.opacity {
	opacity: 0;	
}

.dn {
	display: none;
}
.column {
	width: 300px;
	height: 480px;
	-moz-box-sizing: border-box;
    background-color: #F9F9F9;
    border-right: 1px solid #E1E1E1;
    margin: 3px 3px 3px 3px;
    border: 1px solid #E3E3E3;
    float: left;	
}

.column_info {
	width: 200px;
	height: 630px;
	-moz-box-sizing: border-box;
    background-color: #F9F9F9;
    border-right: 1px solid #E1E1E1;
    margin: 3px 3px 3px 3px;
    border: 1px solid #E3E3E3;
    float: left;	
}

ul.list {
    list-style: none outside none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    height: 437px;
}

ul.list li.first {
	border-top: none;
}

ul.list li{
	cursor: pointer;
	pading: 2px;
	border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #FFFFFF;
}

ul.list li p{
	margin: 0 0 0 80px;
}

ul.list li img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    float: left;
    margin: 3px 10px 3px 0;
    padding: 4px;
}

span.tag {
	background: none repeat scroll 0 0 #A0CE57;
    border: 1px solid #678F28;
    border-radius: 8px 8px 8px 8px;
    color: #486619;
    display: block;
    float: left;
    font-size: 11px;
    line-height: 11px;
    margin: 0 3px 3px 0;
    padding: 1px 10px 3px;
}

.box {
	background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #D7D7D7 !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF;
    font-size: 11px;
    line-height: 0;
    padding: 3px 7px;
    position: relative;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}